.li-proj {
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: box-shadow .2s;
}

.li-proj:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.box:hover::after {
    opacity: 1;
}

.li-proj .title {
  font-weight: 700;
}
.li-proj .date {
  font-size: 9px;
  text-align: left !important;
  margin-left: 15px;
  display:table;
  margin:0 auto;
}

.li-proj .smalltitle {
  font-size: 15px;
  text-align: left !important;
  margin-left: 15px;
  font-style: italic;
  padding-bottom: 2px;
}
