.li-proj {
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: box-shadow .2s;
}

.li-proj:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.box:hover::after {
    opacity: 1;
}
.markdown {
  text-align: justify;
}
.avatar {
  max-width: 150px !important;
}

.li-proj .title {
  font-weight: 700;
}
.li-proj .date {
  font-size: 9px;
  text-align: left !important;
  margin-left: 15px;
  display:table;
  margin:0 auto;
}

.li-proj .smalltitle {
  font-size: 15px;
  text-align: left !important;
  margin-left: 15px;
  font-style: normal;
  padding-bottom: 2px;
}

.li-publication {
  min-width: 120%;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: box-shadow .2s;
}

.li-publication .title {
  font-size: 14px;
  font-weight: 700;
}
.li-publication .authors {
  font-size: 14px;
  font-weight: 100;
}
.li-publication .date {
  font-size: 10px;
  text-align: left !important;
  display: table;
  margin:0 auto;
}
.li-publication .smalltitle {
  font-size: 14px;
  text-align: left !important;
  font-style: normal;
  padding-bottom: 2px;
}

.li-publication:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}